launchConfigurations/

# IntelliJ
.idea

# npm dependencies
node_modules/

#application log files
Server_Side/logs/

npm-debug.log
Server_Side/logs/app_trace.log

chaincode.txt
keyValStore

**/.DS_Store

coverage/
.vscode
