@font-face {
    font-family: roboto-light;
    src: url('../Fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('../Fonts/roboto-2014/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('../Fonts/roboto-2014/Roboto-Bold.ttf');
}
body
{
	font-size:1em;
	font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
	font-weight:100;
	color:#FFF;
}
/************************************************************************************************************************************/
/****************************main page stuff*****************************************************************************************/
/************************************************************************************************************************************/
#fade
{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#FFF;
	opacity:0.8;
	z-index:100;
	display:none;
}
#loader
{
	position:absolute;
	top:350px;
	left: 0px;
	width:100%;;
	z-index:101;
	display:none;
	text-align:center;
}
#mainTbl
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
}
#topRw
{
	font-size:1.4em;
	padding-top:17px;
	padding-bottom:17px;
}
#topRw span
{
	font-size:0.4em;
	color:#00648D;
}
.rtTxt
{
	color:#00648D;
	float:right;
}
.bldTxt
{
	font-family: HelveticaNeue-Light ,Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:1.2em!important;
	margin-top:0.8em;
}
.projTxt
{
	margin-top:0.7em;
	font-size:0.9em;
}
.brkRw
{
	height:2px;
	background-color:#00648D;
}
#txtBxRw
{
	padding-top:25.5px;
	padding-bottom:25.5px;
}
.txtBx
{
	font-size:1em;
	border:2px solid #00648D;
	color:#00648D;
	padding:5px;
	width:200px;
	font-family: HelveticaNeue-Light ,Helvetica, Arial, sans-serif;
	margin-right:29px;
}
.smlBrk
{
	width:34px;
}
.bxHd
{
	background-color:#00648D;
	padding:7px;
	border:2px solid #00648D;
}
#mdHldr
{
	height:305px;
}
.bxMd
{
	border:2px solid #00648D;
	height:305px;
	max-height:305px;
	overflow:hidden;
	white-space:nowrap;
	background-color:#FFF;
}
.scrlHldr
{
	float:right;
	height:100%;
	border-left:2px solid #00648D;
	width:15px;
	padding:5px;
}
.scrlBr
{
	width:15px;
	background-color:#00648D;
	height:100%;
	cursor:pointer;
}
.contentHldr
{
	overflow:hidden;
	display:block;
	height:310px;
	white-space:normal;
	word-break:break-all;
}
.content
{
	margin-top:0px;
	color:#00648D;
}
#dealerInfo
{
	padding:5px;
	white-space:normal;
	word-break: break-all;
}
.bxBtm
{
	border:2px solid #00648D;
	padding:7px;
	background-color:#FFF;
}
.lftBtn
{
	float:left;
	cursor:pointer;
}
.rtBtn
{
	float:right;
	cursor:pointer;
}
.mnBtn
{
	border:2px solid #00648D;
	color:#00648D;
	padding:5px;
	margin-top:25.5px;
}
.mnBtn:hover
{
	background-color:#00648D;
	color:#FFF;
}
.noPoint
{
	cursor:default!important;
}
.gapRw
{
	height:34px;
}
.smlGap
{
	height:17px;
}
.centAl
{
	text-align:center;
}
.lnkTxt
{
	color:#00648D;
}
.bordLR
{
	border-left:2px solid #00648D;
	border-right:2px solid #00648D;
}
.bordLRB
{
	border-left:2px solid #00648D;
	border-right:2px solid #00648D;
	border-bottom:2px solid #00648D;
}
.bordTLRB
{
	border:2px solid #00648D;
}
.greyOut
{
	color: #CCC!important;
	pointer-events: none!important;
	cursor: default;
}

a:active
{
	color:#00648D;
	text-decoration:none;
}
a:visited
{
	color:#00648D;
	text-decoration:none;
}
a:link
{
	color:#00648D;
	text-decoration:none;
}
a:hover
{
	color:#00648D;
	text-decoration:underline;
}
#recipientInfo div
{
	padding:0 5px 0 5px;
}

/************************************************************************************************************************************/
/****************************popup stuff*****************************************************************************************/
/************************************************************************************************************************************/
#chooseOptTbl
{
	position:absolute;
	left:50%;
	top:120px;
	width:600px;
	margin-left:-300px;
	border-collapse:collapse;
	table-layout:fixed;
	z-index:101;
	display:none;
}
#clsOpt
{
	margin-top:3px;
	margin-right:-2px;
}
#chooseRecTbl
{
	position:absolute;
	left:50%;
	top:120px;
	width:600px;
	margin-left:-300px;
	border-collapse:collapse;
	table-layout:fixed;
	z-index:101;
	display:none;
}
#clsRec
{
	margin-top:3px;
	margin-right:-2px;
}
#confTbl
{
	position:absolute;
	left:50%;
	top:120px;
	width:400px;
	margin-left:-200px;
	border-collapse:collapse;
	table-layout:fixed;
	z-index:101;
	display:none;
}
#chooseConfMd
{
	white-space:normal;
	word-break: break-all;
	height:auto;
	color:#00648D;
}
#confTxt
{
	padding:5px;
	min-height:150px;
}

#failTransfer
{
	position:absolute;
	left:50%;
	top:120px;
	width:400px;
	margin-left:-200px;
	border-collapse:collapse;
	table-layout:fixed;
	z-index:101;
	display:none;
}
#failHd
{
	background-color:#A91024;
	border:2px solid #A91024;
}
#failMd
{
	white-space:normal;
	height:150px;
	color:#A91024;
	border:2px solid #A91024;
	vertical-align:top;
}
#failTxt
{
	padding:5px;
}
#failBtm
{
	border:2px solid #A91024;
	padding:7px;
	background-color:#FFF;
}
#okTransaction
{
	display:inline-block;
	height:30px;
	width:30px;
	text-overflow:hidden;
	border:2px solid #00648D;
	border-radius:30px;
	padding:5px;
	line-height:30px;
	background-color:#FFF;
	cursor:pointer;
	margin-bottom:15px;
}
#okTransaction:hover
{
	background-color:#00648D;
	color:#FFF;
}
.loaderSpan
{
	margin:10px;
	display:inline-block;
	width:210px;
	height:130px;
}
.errorRes
{
	color: #A91024;
}