.allBord

{

	border:2px solid #00648D;

}

.noLBord

{

	border-right:2px solid #00648D;

	border-top:2px solid #00648D;

	border-bottom:2px solid #00648D;

}

.noRBord

{

	border-left:2px solid #00648D;

	border-top:2px solid #00648D;

	border-bottom:2px solid #00648D;

}

.statsRw

{

	color: #00648D;

	text-align:right;

	padding:3px;

	font-size:1.2em;

}

.valDisp

{

	position:relative;

	font-size:2em;

	display:block;

	height:75px;

}

.valDisp span

{

	position:absolute;

	bottom:0;

	right:0;

}

.statsSmlRw

{

	color: #00648D;

	text-align:left;

	padding:3px;

	font-size:1.2em;

}

.smlValDisp

{

	padding-left:5px;

}

.contHldr

{

	display: block;

	width: 100%;

	overflow: hidden;

}

.cont

{

	height:75px;

	display:block;

	overflow:hidden;

	text-align:left;

	z-index:1;

	width:100%;

	white-space:no-wrap;

}

.cont .bar

{

	background-color: #00648D;

	width:5px;

	border-left:1px solid #FFF;

	border-right:1px solid #FFF;

	border-bottom:3px solid #FFF;

	display:inline-block;

	bottom:0;

	z-index:100;

	margin-left:-7px;

}



.cont .bar-behind

{

	background-color: #FFF;

	width:7px;

	border-bottom:3px solid #FFF;

	display:inline-block;

	top:0;

}

.cont div

{

	bottom:0;

	width:100%;

	height:5px;

	margin-top:-3px;

	background-color:#F00;

	z-index:100;

}



.homeBtn

{

	color:#00648D;

	padding:10px;

}

.hover-span

{

	position:absolute;

	top:100px;

	background-color:#4C4D53;

	color:#FFF;

	font-size:0.6em;

	height:20px;

	padding-top:6px;

	text-align: center;

	border:20px solid:#FFF;

	display:none;

	min-width:30px;

	padding-left:5px;

	padding-right:6px;

}

.hover-span div

{

	margin-top:-30px;

	width: 0; 

	height: 0; 

	border-left: 10px solid transparent;

	border-right: 10px solid transparent;

	border-bottom: 10px solid #4C4D53;

	background-color:transparent!important;

}

.startBar

{

	width: 2px;

	background-color: #BBB;

	height: 100%;

	display:inline-block;

}

.startMark

{

	font-size: 0.5em;

	white-space: nowrap;

	color: #AAA;

	transform: rotate(90deg);

	transform-origin: right top 0px;

	display: inline-block;

	margin-left: -20px;

}